.section-formulario {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEF5F0;
    background-image:url(../assets/menica-com-legumes-grande.jpg);
    background-repeat: no-repeat;
}

.container-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.section-formulario .subtitulo{
    color: white;
    font-weight: bold;
   
}

.section-formulario .titulo-subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    line-height: 180%;
    text-align: center;
    font-size: 25px;
}

.section-formulario .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 30px 15px;
    margin-top: 50px;
    background-color: #A95D4A;
    border-radius: 10px;
}

.section-formulario label{
    color: white;
}

.section-formulario input{
    width: 100%;
    padding: 20px;
    height: 52px;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #EEF5F0;
}

.section-formulario .input{
    width: 100%;
    margin-bottom: 10px;
}

.section-formulario input .ddi .numero{
    width: 100%;
    padding: 20px;
    height: 52px;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #EEF5F0;
}

.section-formulario .telefone{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ddi{
    width: 30%;
    margin-right: 10px;
}

.section-formulario .numero{
    width: 70%;
}

.section-formulario .gdpr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.section-formulario .gdpr input{
    width: 40px;
    margin: 0px 10px
}

.section-formulario .button{
    background-color: #3FE978;
    font-weight: 900;
    margin-top: 25px;
    letter-spacing: 150%;
    padding: 0;
}

.section-formulario .error{
    color: rgb(255, 197, 197);
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* media queries para responsividade */
/*Desktop*/
@media screen and (min-width: 1024px) {
    .section-formulario{
        background-position: center;
    }
    
    .section-formulario .subtitulo{
        width: 400px;
    }
    .section-formulario .form{
        width: 400px;
    }
    .container-formulario{
        align-items: flex-end;
        width: 1000px;
    }
   
}

/*Tablet*/
@media screen and (min-width: 767px) and (max-width:1023px) {
    .section-formulario {
        background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../assets/menica-com-legumes-medio.jpg);
        background-position: -80px 0px;
    }
    .container-formulario{
        align-items: center;
    }
    .section-formulario .subtitulo{
        width: 400px;
    }
    .section-formulario .form{
        width: 400px;
    }
}

/*Mobile*/
@media screen and (max-width: 766px) {
    .section-formulario {
        background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../assets/menica-com-legumes-pequeno.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}