
.insta-bckgrd {
    background: url('../../public/instaWatermark.png');
    background-repeat: repeat;
    background-size: 30px 30px;
    padding-top: 100px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}


.instafeed {
    list-style: none;
    text-align: center;
}