
.insta-bckgrd {
    background: url('../../public/instaWatermark.png');
    background-repeat: repeat;
    background-size: 30px 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instafeed {
    width: 1200px;
    list-style: none;
    text-align: center;
}
/* Tablet */
@media screen and (min-width: 480px) and (max-width: 1440px) {
    .instafeed {
        width: 100%;
    }
}


/*Mobile*/
@media screen and (max-width: 766px) {
    .instafeed {
        width: 100%;
    }
}