.faq {
    background-color: #fce0bc;
    padding-top: 30px;
}
a:hover, a:focus{
    text-decoration: none !important;
    outline: none !important;
}
.panel-group{
    width: 953px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-posso-ajudar 
.panel-group .panel{
    background-color: #fce0cb;
    border:none;
    box-shadow:none;
    border-radius: 10px;
    margin-bottom:11px;
}
.panel .panel-heading{
    padding: 0;
    border-radius:10px;
    border: none;
}
.panel-heading a{
    color:#fce0cb !important;
    display: block;
    border:none;
    padding:20px 35px 20px;
    font-size: 20px;
    background-color:#e18168;
    font-weight:600;
    position: relative;
    color:#fce0cb;
    box-shadow:none;
    transition:all 0.1s ease 0;
}
.panel-heading a:after, .panel-heading a.collapsed:after{
    content: "\f068";
    font-family: fontawesome;
    text-align: center;
    position: absolute;
    left:-20px;
    top: 10px;
    color:#fce0cb;
    background-color:#e18168;
    border: 5px solid #fce0cb;
    font-size: 15px;
    width: 40px;
    height:40px;
    line-height: 30px;
    border-radius: 50%;
    transition:all 0.3s ease 0s;
}
.panel-heading:hover a:after,
.panel-heading:hover a.collapsed:after{
    transform:rotate(360deg);
}
.panel-heading a.collapsed:after{
    content: "\f067";
}
#accordion .panel-body{
    background-color:#fce0cb;
    color:#8C8C8C;
    line-height: 25px;
    padding: 10px 25px 20px 35px ;
    border-top:none;
    font-size:14px;
    position: relative;
    border:1px solid #e18168;
}

/* media queries para responsividade */
/*Desktop*/
@media screen and (min-width: 1024px) {
}

/*Tablet*/
@media screen and (min-width: 767px) and (max-width:1023px) {
    .panel-group{
        width: 100%;
    }
    
}

/*Mobile*/
@media screen and (max-width: 766px) {
    .panel-group{
        width: 100%;
    }
}
