.personalizada{
    background-color: #438058;
    color: white;
    padding: 20px 20px;
}
.personalizada_container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
}
.personalizada_button{
    background-color: #FCE0CB;
    color: #A95D4A;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.curto{
    margin: 0;
}
.personalizada_button:hover{
    color: rgb(82, 82, 82);
}

.personalizada_texto p span{
    background-color: #438058 !important;
    color:#fff !important;
    
}
.personalizada_image{
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin: 40px;
}
.personalizada_corpo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.personalizada_corpo > div{
    display: flex;
    flex-direction: column;
}
/* media queries para responsividade */
/*Desktop*/
@media screen and (min-width: 1024px) {
}

/*Tablet*/
@media screen and (min-width: 767px) and (max-width:1023px) {
    .personalizada_corpo{
        flex-direction: column-reverse;
    }
    .personalizada_container{
        width: 100%;
    }
    
}

/*Mobile*/
@media screen and (max-width: 766px) {
    .personalizada_corpo{
        flex-direction: column-reverse;
    }
    .personalizada h1{
        font-size: 20px;
    }
    .personalizada p{
        font-size: 15px;
    }
    .personalizada_container{
        width: 90%;
    }
    .personalizada_button{
        padding: 15px 25px;
        font-size: 15px;
    }
}
